
* {
    color: rgb(185, 1, 1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
}


a {
    text-decoration: none;
    color: blue;
}


header {
    background-color: gray;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: background-color 0.1s, border-radius 0.3s, color 0.3s;
}

nav a:hover {
    color: brown;
    text-decoration: underline;
    font-size: 20px;
    border-radius: 12px;
    background-color: rgba(232, 232, 232, 0.5);
}


h1 {
    font-size: 40px;
    font-weight: 600;
}

.ux {
    height: 30px;
    margin-left: 3px;
    font-weight: 600;
    font-style: italic;
    font-family: monospace;
    color: whitesmoke;
}


main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.layout-grid {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}


.harmonia {
    border: 2px dashed rgb(255, 0, 0);
    flex: 3;
}


aside {
    border: 2px dashed rgb(0, 0, 235);
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

aside article {
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


footer {
    background-color: gray;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

footer p {
    margin: 0;
}


button {
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

input[type="text"], input[type="email"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
}
